.navbar {
  display: flex;
  flex-flow: row nowrap;
  background-color: #f2e8f0;
  width: 100vw;
}

.collapse {
  align-self: center;
}

.collapse a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  padding: 0rem 0.5rem;
}

h1 {
  font-family: "Finger Paint";
  padding: 0.5rem 1.5rem;
  color: #212121;
}
