@import 'header.scss';
@import 'footer.scss';

@media (max-width: 850px) {
    .teddyImport {
        grid-template-areas:
        'name name'
        'photo photo'
        'info info'
        'quantity quantity'
        'panier panier' !important;
        padding-top: 0rem !important;
        }
        a {
            margin: auto;
        }
        .teddyPhoto {
            margin: auto;
            max-width: 60vw;
        }
        .teddyInfo {
            text-align: center;
            margin-bottom: 0rem;
        }
        .checkout {
            max-width: 60vw !important;
            font-size: 1.3rem;
        }
        .quantityDiv {
            position: relative;
            padding: 1.5rem 0rem;
            bottom: 1rem;
        }

    .teddyColorLayout {
        padding-top: 1rem;
        display: flex !important;
        flex-direction: column;
        margin: auto;
    }
    .teddyColors {
        bottom: 11vh !important;
    }
    .checkout {
        top: 11vh !important;
    }
    select {
        height: 3.5vh !important;
    }
}

body {
    margin: 0rem;
}

#container {
    background-color: rgb(241, 234, 234);
}

.teddyImport {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto;
    grid-template-areas: 
    'photo name'
    'photo quantity'
    'photo info'
    'photo .'
    '. panier';
    max-width: 95vw;
    margin: auto;
    margin-bottom: 1em;
    padding-top: 2rem;
}

.teddyName {
    grid-area: name;
    font-size: 1.8rem;
}

select {
    display: table-row;
    height: 3.3vh;
    overflow: hidden;
    font-size: 1.3rem;
}

select::after {
    content: none;
}

option {
    display: table-cell;
    font-size: 1.3rem;
}

.quantityDiv {
    grid-area: quantity;
    font-size: 1.4rem;
    & input {
        transform: scale(1.4);
        max-width: 50vw;
        min-width: 20vw;
        text-align: center;
    }
}


.teddyInfo {
    grid-area: info;
    text-align: center;
    padding-left: 0rem;
}

.teddyPhoto {
    margin: auto;
    grid-area: photo;
    max-width: 35vw;
    border: 10px solid #444;
    box-shadow: 3px 2px 2px 1.5px rgba(145, 133, 133, 0.6);
}

#product-pull {
    text-align: center;
    li {
        list-style: none;
        font-size: 1.6rem;
        font-weight: 400;
        padding: 1rem 2.5rem;
        &#price {
            font-weight: bold;
        }
    }
}

.checkout {
    transform: scale(1.4);
    position: relative;
    top: 3.5vh;
    flex: 1;
    display: flex;
    margin: auto;
    color: #fff;
    background-color: #0090e3;
    max-width: 30vw;
    grid-area: panier;
    justify-content: flex-end;
    & .icon-card {
            font-size: 22px;
            justify-self: center;
    }
  }

  .btn-default {
  flex: 1;
  transition: 0.4s;
  font-weight: 700;
  color: #fff;
  background-color: rgb(19, 153, 48);
  text-transform: uppercase;
}

.teddyColorLayout {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas: 'color .'
    '. .';
}

.teddyColors {
    position: relative;
    bottom: 4vh;
    grid-area: color;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    font-size: 1.4rem;
    margin: auto; 
    max-width: fit-content;
    text-align: center;
    option {
        min-height: fit-content;
    }
}

label {
    padding-bottom: 0.5rem;
}

.panierLink {
    text-align: center;
    padding-bottom: 1.5rem;
}

 .panierLink button {
     font-size: 1.5rem;
     background-color: #333;
     color: #FFF;
     &:hover {
         color: #333;
         background-color: #FFF;
     }
}